<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80836764748-8nj939ur42rbejdecde51tiqmjqjph3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80836764748-8nj939ur42rbejdecde51tiqmjqjph3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>80836764748-jsjkvfrj3h2v91vifr192t9bg6030lgc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfqe_oD9PvoRJlVSx9KBV5qR6IVW-tHgo</string>
	<key>GCM_SENDER_ID</key>
	<string>80836764748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puresip.purchasing</string>
	<key>PROJECT_ID</key>
	<string>puresip-purchasing</string>
	<key>STORAGE_BUCKET</key>
	<string>puresip-purchasing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80836764748:ios:9b72a97f887d353649c0e9</string>
</dict>
</plist>